<link rel="stylesheet" href="/components/sections/gallery.css" />
<script type="module" src="/components/sections/gallery.js" defer></script>

<div class="container">
    <div class="gallery_title-wrapper">
        <h2 class="gallery_title">Галерея наших<br />работ</h2>
    </div>
    <nav class="gallery_menu">
        <ul>
            <li class="gallery_menu-active">Все работы</li>
            <li>Забор из профнастила</li>
            <li>Забор из евроштакетника</li>
            <li>3Д заборы</li>
            <li>Деревянные заборы</li>
            <li>Ворота и калитки</li>
            <li>Навесы</li>
        </ul>
    </nav>
</div>

<div id="gallery-items" class="gallery_items"></div>
<div class="container">
    <div class="grllery_button-wrapper">
        <button>Показать еще</button>
    </div>
</div>
