<link rel="stylesheet" href="/components/sections/introduction.css" />
<div class="container">
    <div class="intro_row">
        <div class="intro_title-wrapper">
            <h1>
                Заборы <br />
                в Новосибирске
            </h1>
            <p>
                Мы компания полного цикла,
                <span>берем на себя все этапы работы, от первой консультации до
                    полной установки</span>
                забора под ключ, освобождая вас от лишних забот
            </p>
            <div class="intro_button-wrapper">
                <button class="intro_button intro_button_red">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M25.5 30H4.5C2.01472 30 0 27.9853 0 25.5V1.5C0 0.67158 0.67158 0 1.5 0H22.5C23.3284 0 24 0.67158 24 1.5V19.5H30V25.5C30 27.9853 27.9853 30 25.5 30ZM24 22.5V25.5C24 26.3284 24.6716 27 25.5 27C26.3284 27 27 26.3284 27 25.5V22.5H24ZM6 7.5V10.5H18V7.5H6ZM6 13.5V16.5H18V13.5H6ZM6 19.5V22.5H13.5V19.5H6Z"
                            fill="currentColor" />
                    </svg>
                    <span>Получить смету <br>бесплатно</span>
                </button>
                <button class="intro_button intro_button-whatsapp">
                    <img src="/assets/img/icons/whatsapp.svg" alt="Иконка whatsapp" />
                    <span>написать <br>в whatsapp</span>
                </button>
            </div>
        </div>
        <div class="intro_image-wrapper">
            <img src="/assets/img/sections/introduction1_700x577.webp" alt="Изображение" />
        </div>
    </div>
</div>