<link rel="stylesheet" href="/components/sections/offer.css" />
<div class="container">
    <h2 class="offer_title">Предлагаем купить забор в Новосибирске от производителя</h2>
    <div class="offer_row">
        <div class="offer_left">
            <p>
                В нашей компании, вы можете купить забор в Новосибирске выгодно. Мы обладаем многолетним опытом
                в производстве и установке различных типов заборов. У нас есть современное оборудование,
                производственный
                цех и высококвалифицированный персонал. Поэтому, мы гарантируем, что установка забора будет выполнена
                качественно.
            </p>
        </div>
        <div class="offer_right">
            <p>Мы располагаем двумя офисами продаж, расположенными на правом и левом берегу. Наша цель — гарантировать
                идеальный результат и предоставить нашим клиентам наивысшее качество. Цена на забор под ключ от нашей
                компании, является самым выгодным предложением на рынке.</p>
        </div>
    </div>
</div>