<link rel="stylesheet" href="/components/sections/promotions.css" />
<div class="container">
    <div class="promotions_row">
        <div class="promotions_image-wrapper">
            <img
                src="/assets/img/sections/promotions1.webp"
                alt="Изображение"
            />
            <img
                src="/assets/img/sections/promotions2.webp"
                alt="Изображение"
            />
            <img
                src="/assets/img/sections/promotions3.webp"
                alt="Изображение"
            />
        </div>
        <div class="promotions_title-wrapper">
            <h2 class="promotions_title">наши акции</h2>
            <p>
                Наша компания предоставляет <br />
                выгодные предложения своим заказчикам. Не пропустите акцию
                сегодня!
            </p>
            <div class="promotions_button-wrapper">
                <button class="promotions_button">
                    <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M3.58912 6.53582L8.61788 1.36364L7.29206 0L0 7.50006L7.29206 15L8.61788 13.6364L3.58912 8.4643H15V6.53582H3.58912Z"
                            fill="currentColor"
                        />
                    </svg>
                </button>
                <button class="promotions_button promotions_button-active">
                    <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M11.4109 6.53582L6.38212 1.36364L7.70794 0L15 7.50006L7.70794 15L6.38212 13.6364L11.4109 8.4643H0V6.53582H11.4109Z"
                            fill="currentColor"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
