<link rel="stylesheet" href="/components/sections/services.css" />
<script type="module" src="/components/sections/services.js" defer></script>

<div class="container">
    <div class="services_column">
        <div class="services_title-wrapper">
            <h2 class="services_title">услуги</h2>
            <p>
                Мы предлагаем заказать забор под ключ в Новосибирске любого
                типа. Производство и монтаж заборов - это наш основной вид уже
                более 10 лет.
            </p>
            <button>
                <img src="/assets/img/icons/ruler.svg" alt="ruler" />
                <span
                    >Бесплатный<br />
                    замер</span
                >
            </button>
        </div>
        <div class="services_button-wrapper">
            <button class="services_button services_button-active">
                <span>Заборы</span
                ><img
                    src="/assets/img/icons/arrow_right.svg"
                    alt="arrow_right"
                />
            </button>
            <button class="services_button">
                <span>Ворота и калитки</span
                ><img
                    src="/assets/img/icons/arrow_right.svg"
                    alt="arrow_right"
                />
            </button>
            <button class="services_button">
                <span>Другие услуги</span
                ><img
                    src="/assets/img/icons/arrow_right.svg"
                    alt="arrow_right"
                />
            </button>
        </div>
        <div id="services-items" class="services_items"></div>
    </div>
</div>
