<link rel="stylesheet" href="/components/UI/contact_form.css" />
<script type="module" src="/components/UI/contact_form.js" defer></script>

<div class="container">
    <div class="contact_form_row">
        <div class="contact_form-left">
            <h2 class="contact_form_title">Записаться на бесплатный замер</h2>
            <p>
                Привезем примеры материалов, ответим на все ваши вопросы,<br />
                посмотрим все нюансы участка
            </p>
            <form class="contact_form" action="" method="post">
                <input type="text" name="name" placeholder="имя" required />
                <input
                    type="tel"
                    name="phone"
                    placeholder="номер телефона"
                    required
                />
                <button type="submit" class="btn">Записаться</button>
            </form>
        </div>
        <div class="contact_form_img_wrapper">
            <img src="/assets/img/UI/contact_form.webp" alt="form image" />
        </div>
    </div>
</div>
