<link rel="stylesheet" href="/components/layout/header/header.css" />
<div class="container">
    <div class="header_row">
        <a href="/">
            <img src="/assets/img/LOGO.webp" alt="Логотип" />
        </a>
        <div class="header_search-wrapper">
            <div class="header_service-button">
                <img src="/assets/img/icons/windows.svg" alt="иконка" />
                <span>Каталог услуг</span>
            </div>
            <div class="header_search">
                <input id="search" placeholder="Автоматические ворота" />
                <div class="header_search-button">
                    <img src="/assets/img/icons/searh.svg" alt="иконка" />
                </div>
            </div>
        </div>
        <nav class="header_nav">
            <ul>
                <li>
                    <img src="/assets/img/icons/gallery.svg" alt="icon" />
                    <a href="/pages/gallery/gallery.html">Галерея</a>
                </li>
                <li>
                    <img src="/assets/img/icons/reviews.svg" alt="icon" />
                    <a href="/pages/reviews/reviews.html">Отзывы</a>
                </li>
                <li>
                    <img src="/assets/img/icons/contacts.svg" alt="icon" />
                    <a href="/pages/contacts/contacts.html">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header_contacts">
            <div class="header_phone">
                <span>+7 (383) 263-23-50</span><a href="/">перезвоните мне</a>
            </div>
            <div class="header_calculate">
                <img src="/assets/img/icons/calculate.svg" alt="icon" /><a href="/">Расчет забора</a>
            </div>
        </div>
    </div>
</div>